@use '../util' as *;

.card {
    // display: grid;
   
    background: var(--dark-card);
    color: var(--dark-text1);
    width: rem(255);
    padding: rem(25);

    text-align: center;
    border: 1px solid white;


    &--facebook {
            
    }
    &--twitter{

    }
    &--instagram {

    }
    &--youtube {

    }

    &__platform {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(28);
    }

    &__icon {

        margin: rem(8);
       
        &--facebook {
            
        }
        &--twitter{

        }
        &--instagram {

        }
        &--youtube {

        }
    }

    &__username {

        font-size: rem(12);
        font-weight: bold;
       
    }

    &__count {

        
        color: var(--light-bg);
        font-weight: 700;
        letter-spacing: rem(-2);
        line-height: 1;
        // margin-bottom: rem(9);

        &--big {
            font-size: rem(56);
            

        }

        &--small {

        }
    }

    &__label {
        font-size: rem(12);
        letter-spacing: rem(5);
        color: var(--dark-text1);
        font-weight: 400;
        text-transform: uppercase;
        margin-top: rem(9);

    }
    &__change {

        &--up {
            
        }
        &--down {

        }

    }
}